body {
  background-image: url(../img/background.png);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.table thead th {
  background-color: #428BCA;
  border-color: #428BCA !important;
  color: #FFF;
}

.table {
  background-color: #FFF;
}
